.connect-btn {
    padding: 15px 15px 0 0;
    display: flex;
    justify-content: space-between;
}

.btn1 {
    background-color: #edf2ff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.btn2 {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}